<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Allegro</title>
    <script type="text/javascript" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" src="../static/js/classie.js" th:src="@{/js/classie.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <link  rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{~/index}">Allegro</a>
        </div>
        <div th:if="${session.User} != null" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a th:href="@{usersQuestionaries} " class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zalogowany jako : <span th:text="${session.name} ?: Niezalogowany ">Niezalogowany</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{~/user/panel}">Panel użytkownika</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{~/user/logout}">Wyloguj</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div th:if="${session.User} == null" class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>
                    <a th:href="@{~/login}">Zaloguj</a>
                </li>
                <li>
                    <a th:href="@{~/register}">Zarejestruj</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>Niezalogowany</a></li>
            </ul>

        </div>
    </div>
</nav>
<div class="jumbotron"></div>
<div class="container">
    <div class="col-md-12">fajna apka jejfajna apka jejfajna apka jejfajna apka jejfajna apka jejfajna apka jejfajna apka jejfajna apka jejfajna apka jejfajna apka jejfajna apka jejfajna apka jejfajna apka jejv</div>
</div>

</body>
</html>