<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragmenty/head :: head"></th:block> /*/-->

</head>
<body>
<div class="site-wrapper bg-inverse">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <!--/*/ <th:block th:include="fragmenty/nav :: nav"></th:block> /*/-->

            <div class="inner cover">
                <div class="centered">
                    <div class="col-lg-6 col-xs-12">
                        <div class="row">
                            <h1><span th:text="${auk[0].nazwa}"></span></h1>
                        </div>
                        <div class="row">
                            <img src="http://placehold.it/320x200"/>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-12">
                        <div th:if="${auk[0].zakonczona}!=true">

                            <form action="/auction/addoff" method="post">
                                <div class="row"><h1><span th:text="${auk[0].cena_aktualna}"></span></h1>
                                    <h1>zł</h1></div>
                                <div class="row"><input type="text" name="oferta" th:value="${auk[0].ilosc}"></input>
                                </div>
                                <div class="row">Ilość dostepnych sztuk:<span th:text="${auk[0].ilosc}"></span></div>
                                <div class="row">
                                    <button th:if="${session.User} != null" class="btn btn-warning" value="Kup teraz">
                                        Kup teraz
                                    </button>
                                    <span th:if="${session.User} == null">Zaloguj się aby wykonać akcje.</span>
                                </div>
                                <div class="row">&nbsp;</div>
                                <div class="row">
                                    <h3><span th:text="${auk[0].data}"></span></h3>
                                </div>
                            </form>

                        </div>
                        <div th:if="${auk[0].zakonczona}==true">
                            <h1>Aukcja zakończona.</h1>
                        </div>
                    </div>
                </div>
                <div class="centered">
                    <div class="col-lg-12 col-xs-12">
                        <table class="table" name="table" id="table">
                            <thead class="thead-default">
                            <tr>
                                <th>Parametry</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="akaa : ${kat}">
                                <td th:text="${akaa.data_oferty}">jkjkjk</td>
                                <td th:text="${akaa.login}">hjhjh</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="centered">
                    <div class="col-lg-12 col-xs-12">
                        <div class="card card-inverse" style="background-color: #414141; border-color: #ffffff;">
                            <div class="card-block">
                                <h4 th:text="${auk[0].opis}"></h4>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="centered">
                    <div class="col-lg-12 col-xs-12">

                        <table id="myTable2" class="table table-striped table-inverse table-bordered">
                            <thead class="thead-default">
                            <tr>
                                <th>Użytkownik</th>
                                <th>Ilość</th>
                                <th>Data oferty</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ak : ${oferty}">

                                <td><a th:text="${ak.login}">nazwa</a></td>
                                <td th:text="${ak.ilosc}">il</td>
                                <td th:text="${ak.data_oferty}">data</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--/*/ <th:block th:include="fragmenty/footer :: foot"></th:block> /*/-->

        </div>
    </div>
</div>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>