<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragmenty/head :: head"></th:block> /*/-->
</head>
<body>
<div class="site-wrapper bg-inverse">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <!--/*/ <th:block th:include="fragmenty/nav :: nav"></th:block> /*/-->

            <div class="inner cover"><center>
                <div class="container" th:if="${session.User} == null">
                    <div class="col-lg-4 col-xs-12">
                        <h1 class="text-center main-title">Logowanie</h1>
                    </div>
                    <div class="content col-lg-4 col-xs-12">
                        <div class="alert alert-danger" th:if="${log}==true"><strong>Niepoprawny login lub haslo. Spróbuj ponownie.</strong></div>

                        <form data-toggle="validator" role="form" class="login-group" method="post" action="/user/login">

                            <div class="form-group">
                                <label for="login" class="cols-sm-2 control-label">Nazwa użytkownika</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="login" id="login"  placeholder="Wpisz swoją nazwę" required="required"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="haslo" class="cols-sm-2 control-label">Hasło</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        <input type="password" class="form-control" name="haslo" id="haslo"  placeholder="Wpisz swoje hasło"/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group ">
                                <input type="submit" class="btn btn-primary btn-lg btn-block login-button"></input>
                            </div>

                        </form>
                    </div></div></center>
            </div>
            <!--/*/ <th:block th:include="fragmenty/footer :: foot"></th:block> /*/-->

        </div>

    </div>

</div>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
</body>
</html>