<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragmenty/head :: head"></th:block> /*/-->

</head>
<body>
<div class="site-wrapper bg-inverse">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <!--/*/ <th:block th:include="fragmenty/nav :: nav"></th:block> /*/-->

            <div class="inner cover">
                <a href="#" th:href="@{~/auction/new}" class="btn btn-info btn-lg" style="text-align:left; padding-left:6px">&nbsp; Dodaj nową aukcje</a>
                <div><br></br></div>
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Szukaj po nazwie"/>
                <table id="myTable" class="table table-striped table-inverse table-bordered">
                    <thead class="thead-default">
                    <tr>
                        <th>#</th>
                        <th>Nazwa</th>
                        <th>Cena</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ak : ${sprzedaz}">
                        <th width="320" height="200" scope="row"><img th:src="*{'data:image/png;base64,'+ak.obrazek}" alt="Brak obrazka" width="320" height="200"/></th>
                        <td><a th:text="${ak.nazwa}" th:href="@{/auction/item/} + ${ak.id_aukcji}">nazwa</a></td>
                        <td th:text="${ak.cena_aktualna}">cena</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--/*/ <th:block th:include="fragmenty/footer :: foot"></th:block> /*/-->

        </div>

    </div>

</div>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>